src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d8d6cabb-205b-44f4-ba1f-239dec2364af" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="d480bf06-b3a2-4fbd-adff-24e031fd99f8" >
		<http:listener doc:name="Listener" doc:id="177b350a-ff97-4c4b-a30c-8a0577cf1c17" config-ref="HTTP_Listener_config" path="cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4895e607-d56c-4ec4-b694-eaf4119f04a9" category="cicd request"/>
		<ee:transform doc:name="Transform Message" doc:id="b9824d8e-3f03-4de1-a8db-77ac86e4ce59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg":"This is cicd demo"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="699b3cfa-aa1a-46e8-864b-225d0c74224e" message="cicd output-- #[payload]"/>
	</flow>
</mule>
